* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 50ms, border-color 60ms;
    font-family: serif;
}

body {
    background-color: #f0f0f7;
}

main,
.progress,
.step {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex-direction: column;
    gap: 50px;
}

.step {
    width: 60px;
    height: 60px;
    background-color: white;
    color: grey;
    border-radius: 50%;
    border: 5px solid;
    font-size: 40px;
    font-weight: 500;
    padding: 10px;
    border-color: grey;
}

.step-active {
    border-color: dodgerblue;
}

.bar {
    width: 150px;
    height: 10px;
    margin: 0 -2.5px;
    background-color: grey;
}

.bar-active {
    background-color: dodgerblue;
}

button {
    padding: 10px;
    font-size: 40px;
    border-radius: 10px;
    width: 200px;
    font-weight: 500;
    color: white;
    background-color: dodgerblue;
    margin: 20px;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

button:disabled {
    cursor: auto;
    background-color: rgb(168, 168, 168);
}