* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

button {
    cursor: pointer;
    font-size: 2em;
    text-transform: capitalize;
    padding: 1em 2em;
    background-color: rgba(198, 0, 198);
    color: rgb(255, 240, 232);
    border: none;
    border-radius: 0.3em;
}

button:hover {
    background-color: rgba(198, 0, 198, 0.8);
}

button:active {
    transform: scale(0.98);
}