@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* zoom: 150%; */
}

.container {
    background-color: rgb(20, 0, 0);
    width: 60vw;
    height: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5vw 4vw;
    gap: 4.5vw;
    border-radius: 1.5vw;
}

.heading {
    font-size: 7vw;
    font-weight: 600;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4.5vw;
}

.inputbox {
    font-size: 4vw;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2vw;
    color: white;
}

.inputbox:focus {
    outline: 0;
}

#login {
    font-size: 4vw;
    width: 100%;
    height: 8vw;
    background-color: rgb(196, 129, 5);
    border-radius: 0.5vw;
    border: none;
}

.forgot {
    font-size: 3vw;
}

.register {
    color: aqua;
    text-decoration: none;
    padding: 0.5vw;
}

.register:hover,
#login:hover {
    cursor: pointer;
}